In [1]:
import pandas as pd
import numpy as np

In [2]:
school = pd.read_csv('./data/읍면동별_학교_부산.csv',encoding='cp949') #행정동별 학교 개수 추출
school["학교개수"] = ""
school = school.groupby('행정동명').학교개수.count().to_frame()
school.reset_index(inplace=True)
school.columns = ['행정동명', '학교개수']

movie = pd.read_csv('./data/읍면동별_영화관_부산.csv',encoding='cp949') #행정동별 영화관 개수 추출
movie["영화관개수"] = ""
movie = movie.groupby('행정동명').영화관개수.count().to_frame()
movie.reset_index(inplace=True)
movie.columns = ['행정동명', '영화관개수']

university = pd.read_csv('./data/읍면동별_대학교_부산.csv',encoding='cp949') #행정동별 대학교 개수 추출
university["대학교개수"] = ""
university = university.groupby('행정동명').대학교개수.count().to_frame()
university.reset_index(inplace=True)
university.columns = ['행정동명', '대학교개수']

facility = pd.read_csv('./data/읍면동별_시설물_부산.csv',encoding='cp949') #행정동별 대학교 개수 추출
facility["시설물개수"] = ""
facility = facility.groupby('행정동명').시설물개수.count().to_frame()
facility.reset_index(inplace=True)
facility.columns = ['행정동명', '시설물개수']

In [3]:
school

      행정동명  학교개수
0     가덕도동     3
1      가락동     3
2     가야1동     3
3     가야2동     4
4    감만1동      2
..     ...   ...
170   하단2동     4
171    학장동     6
172   화명1동     4
173   화명2동     5
174   화명3동     4

[175 rows x 2 columns]

In [4]:
#변수 csv파일 불러오기
populationDensity = pd.read_csv('./data/읍면동별_인구밀도_부산.csv',encoding='cp949')
river = pd.read_csv('./data/읍면동별_인접한강_부산.csv',encoding='cp949')
stream = pd.read_csv('./data/읍면동별_인접한하천_부산.csv',encoding='cp949')
car = pd.read_csv('./data/읍면동별_자동차등록대수_부산.csv',encoding='cp949')
byciclePath = pd.read_csv('./data/읍면동별_자전거도로_부산.csv',encoding='cp949')
subway = pd.read_csv('./data/읍면동별_지하철승객수_부산.csv',encoding='cp949')
#bus = pd.read_csv('./data/읍면동별_버스승객수_부산.csv',encoding='UTF8')

## 읍면동별_자전거_총대여반납건수_부산

In [5]:
#변수 join
data=pd.merge(left = populationDensity ,right = facility,on='행정동명',how="left")
data=pd.merge(left = data,right = car,on="행정동명",how="left")
data=pd.merge(left = data, right = river,on="행정동명",how="left")
data=pd.merge(left = data, right = stream,on="행정동명",how="left")
data=pd.merge(left = data, right = byciclePath,on="행정동명",how="left")
data=pd.merge(left = data, right = subway,on='행정동명',how="left")
data=pd.merge(left = data, right = school,on='행정동명',how="left")
data=pd.merge(left = data, right = movie,on='행정동명',how="left")
data=pd.merge(left = data, right = university,on='행정동명',how="left")
#data=pd.merge(left = data, right = bus,on='행정동_코드',how="left")

In [6]:
#중복행 삭제
data.drop_duplicates()

,행정동명,인구밀도,시설물개수,자동차등록대수,강,하천,자전거도로,지하철승하차합계,학교개수,영화관개수,대학교개수
0,거제1동,31691.011240,12.0,8453.769231,NaN,NaN,1.78000,1093253.0,5.0,NaN,1.0
1,거제2동,6898.360656,11.0,8453.769231,NaN,NaN,1.78000,297383.0,2.0,1.0,NaN
2,거제3동,15441.935480,1.0,8453.769231,NaN,NaN,1.78000,NaN,NaN,NaN,NaN
3,거제4동,11173.863640,3.0,8453.769231,NaN,NaN,1.78000,NaN,4.0,NaN,NaN
4,연산1동,19191.764710,7.0,8453.769231,NaN,NaN,1.78000,NaN,4.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
201,명지1동,4300.725806,31.0,11068.500000,낙동강,NaN,13.20125,NaN,13.0,2.0,NaN
202,명지2동,9196.969697,14.0,11068.500000,낙동강,NaN,13.20125,NaN,3.0,NaN,NaN
203,가락동,123.315790,2.0,11068.500000,낙동강,NaN,13.20125,NaN,3.0,NaN,NaN
204,녹산동,619.964851,48.0,11068.500000,낙동강,NaN,13.20125,NaN,5.0,NaN,NaN
205,가덕도동,161.463415,2.0,11068.500000,NaN,NaN,13.20125,NaN,3.0,NaN,NaN

In [8]:
data.to_csv('./data/busan_data.csv',index=False, encoding = 'cp949')